* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 24px;
    color: #333;
}

.all-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.input-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.add-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    background-color: #f9f9f9;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li i {
    cursor: pointer;
    color: #f44336;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    h2 {
        font-size: 20px;
    }
}
